@model User

<!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>Events</h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li>@Html.ActionLink("Home","Home","Index")</li>
                            <li>Events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Event Area Start -->
<section class="event-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                  
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellente sque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">


    </div>
</section>
<!-- Event Area End -->
<br/>

 <!-- Client Area Start -->
        <div class="client-area">
            <div class="container">
                <div class="row">
                    <form asp-action="Register" method="post">
<div class="form-control">
    <div class="form-group">
        <label asp-for="Name"></label>
    <input type="text"  class="form-control" asp-for="Name" />
    </div>
    <hr />
    <div class="form-group">
          <label asp-for="Email"></label>
    <input type="text" class="form-control" asp-for="Email" />
    </div>
      <hr />
    <div class="form-group">
          <label asp-for="Password"></label>
    <input type="text" class="form-control" asp-for="Password" />
    </div>
      <hr />
    <button type="submit">Register</button>
    
</div>
</form>


<br style="clear: both" />

<br style="clear: both" />
<br style="clear: both" />
<br style="clear: both" />
<br style="clear: both" />
<br style="clear: both" />
<br style="clear: both" />



                    <div class="client-carousel">
                        <div class="single-client">
                            <div class="client-image">
                                <a href="#">
                                    <img src="img/client/1.png" alt="" class="p-img">
                                    <img src="img/client/1-hover.png" alt="" class="s-img">
                                </a>
                            </div>
                        </div>
                        <div class="single-client">
                            <div class="client-image">
                                <a href="#">
                                    <img src="img/client/2.png" alt="" class="p-img">
                                    <img src="img/client/2-hover.png" alt="" class="s-img">
                                </a>
                            </div>
                        </div>
                        <div class="single-client">
                            <div class="client-image">
                                <a href="#">
                                    <img src="img/client/3.png" alt="" class="p-img">
                                    <img src="img/client/3-hover.png" alt="" class="s-img">
                                </a>
                            </div>
                        </div>
                        <div class="single-client">
                            <div class="client-image">
                                <a href="#">
                                    <img src="img/client/4.png" alt="" class="p-img">
                                    <img src="img/client/4-hover.png" alt="" class="s-img">
                                </a>
                            </div>
                        </div>
                        <div class="single-client">
                            <div class="client-image">
                                <a href="#">
                                    <img src="img/client/5.png" alt="" class="p-img">
                                    <img src="img/client/5-hover.png" alt="" class="s-img">
                                </a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <!-- Client Area End -->

